<div class="row">
  <div class="col-md-12">
    <h3>Корзина <label *ngIf="basket.length" class="summ"><span>всього:</span> {{summ}}</label></h3>
    <ul>
        <li *ngFor="let product of basket">
            <div class="row">
              <div class="col-md-6">
                <label (click)="removeFromBasket(product)">{{product.name}}: </label>
              </div>
              <div class="col-md-6">
                <p>{{product.price}}</p>
              </div>
            </div>
          </li>
    </ul>
  </div>
</div>
