ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  ul li {
    display: block;
    position: relative;
    padding: 0;
  }

  label, p{
    margin: 0 0 0 0;
  }

  ul li p,
  ul li label{
      width: 100%;
  }

  ul li p{
    padding: 5px 0;
  }

  ul li label{
    padding: 5px 10px 5px 20px;
    border-radius: 2px;
  }

  ul li label::after{
    content: '\f055';
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 5px;
    color: green;
  }

  ul li label:hover{
      background: #d6dade;
      cursor: pointer;
  }