<div class="row">
  <div class="col-md-7">
      <h1 (click)="orderByCategory()">Меню: 
        <i *ngIf="sortby" class="fa fa-chevron-down" aria-hidden="true"></i>
        <i *ngIf="!sortby" class="fa fa-chevron-up" aria-hidden="true"></i>
      </h1>
      
    <div *ngFor="let category of menu">
      <h3>{{category.name}}</h3>
      <ul>
        <li *ngFor="let product of category.products">
          <div class="row">
            <div class="col-md-4">
              <label (click)="addToBasket(product)">{{product.name}}: </label>
            </div>
            <div class="col-md-4">
              <p>{{product.price}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-5">
    <app-basket
    (onRemove)="removeFromBasket($event)"
    [basket]="basket" 
    [summ]="summ">
    </app-basket>
  </div>
</div>